*{
	margin: 0px;
	padding: 0px;
}

.bordes{
	box-shadow: rgb(83,144,201) 5px 5px 5px;
}

#map{
	height: 70vh;
	background: red;
}

header{
	background: white;
}

.container{
	width: 90vw;
	max-width: 1140px;
	margin: 1.2rem auto;
	padding: 1.2rem;
	
	display: grid;
	grid-gap: 1.2rem;
	grid-template-columns: 1fr;
}

.container .header{
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 2fr 1fr;
	aling-items: center;
}

@media (max-width: 576px){
	.container .header{
		grid-template-columns: minmax(300px, 1fr);
	}
	
	.header figure{
		display: grid;
		grid-gap: .5rem;
		grid-auto-flow: dense;
		grid-template-columns: 1f 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
	}
	
	.header figure img:nth-child(2){
		grid-column : span 2;
	}
	
}

/*

*{
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}
	
header {
		background: white;
		width: 1200px;
		height: 140px;
		margin: 20px auto;
		padding: .5px;
	}
	
	
header figure {
	float: left;
	padding: 1.5em;
}
	
header img {
	padding-left: .5em;
	box-shadow: 3px 3px 15px rgba(255,255,255,1);
	border: .1em solid white;
	border-radius: 5px;
}

header section {
		display: inline;
		float: left;
		text-align: center;
		color: navy;
		letter-spacing: 2px;
	}
	
header section h1 {
	padding-top: 1em;
	padding-left: .5em;
	-webkit-text-fill-color: navy;
	-webkit-text-stroke: .2px #009cdeff;
	text-shadow: -4px -4px 4px white, 4px -4px 4px white, -4px 4px 4px #a4e8fcff, 4px 4px 4px #a4e8fcff;
	margin: .6em;
	letter-spacing: 1px;
	font-size: 2em;
	font-weight: bold;
}

footer {
		background: white;
		width: 1200px;
		margin: .5em auto;
		text-align: center;
		padding: .5em 0;
	}
	
footer p {
	padding: 0 5em;
	margin: .2em 0;
}

.bordesAzules {
	box-shadow: rgb(83,144,201) 5px 5px 10px;
}

#map {
	width: 960px;
	height: 600px;
	margin: 20px auto;
	}
	
.info {
	font-family: 'Montserrat', sans-serif;
	max-width: 350px;
	max-height: 250px;
	padding: 6px 8px;
	font-size: 1.2em;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	line-height: 1.2em;
	text-align: justify;
	}
	
.info b {
	color: red;
	font-size: 1.3em;
	font-weight: bold;
}


.info .encabezadoImg {
	padding-left: 1.7em;
	padding-top: .7em;
	width: 10%;
	display: inline;
	float: left;
}

.info .encabezado {
	padding-left: 1em;
	width: 80%;
	display: inline;
	float: left;
}

.info .encabezado h4 {
	margin-top: .7em;
	margin-left: 0;
}


.info .cuerpo {
	padding-left: .7em;
	padding-right: .7em;
	display: block;
	float: left;
}

.ocultar {
	display: none;
}

.active {
	background: #009cdeff;
}	

.custom .leaflet-popup-content-wrapper nav {
	width: 700px;
	margin: .5em;
	
}
	
.custom .leaflet-popup-content-wrapper nav ul.tabs {
	width: 100%;
	background-color: black;
	list-style: none;
	display: flex;
}

.custom .leaflet-popup-content-wrapper nav ul.tabs li{
	width: 50%;
}

.custom .leaflet-popup-content-wrapper nav ul.tabs li a {
	font-size: 1em;
	color: white;
	display: block;
	padding: 1.2em;
	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.custom .leaflet-popup-content-wrapper nav ul.tabs li i {
	padding: .5em;
	font-size: 1.2em;
}


.custom .leaflet-popup-content-wrapper section article {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	padding: 0;
}

th, td{
	width: 40%;
	padding: .5em;
	text-align: left;
	margin: .8em;
}

.tablaRaes {
	font-size: .8em !Important; 
}

.tablaRaes th, .tablaRaes td{
	padding: .5em;
	text-align: left;
	margin: .8em;
}

tr:nth-child(even){
background-color: #ddd;
}

tr:hover {
background-color: #369681;
color: white;
}

nav ul.tabs li h3 {
	padding-top: .5em;
}

.titulo {
		text-align: center;
		background: #009cdeff;
		color: white;
		font-size: 1.2em;
	}
	
.leaflet-control-layers-overlays div {
	padding: .5em;
	}
	
.leaflet-control-layers-overlays input {
	padding-left: 1em;
	}
	
.leaflet-control-layers-overlays div b {
	padding-left: .5em;
}

.leaflet-control-layers-base {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.1em;
	}
	
*/